@import "../../../common/css/util";
@import "../../../common/css/common";
@import "../../../../node_modules/swiper/dist/css/swiper";

.app > .page.index {

  $title-bar-height: r(40);
  $category-bar-height: r(36);

  padding-top: $title-bar-height + $category-bar-height;
  box-sizing: border-box;
  height: 100%;

  .title-bar {
    position: fixed;
    top: 0;
    z-index: 2;

    @include height($title-bar-height);
    @include full-width;

    background: $color-subject;
    text-align: center;
    font-size: r(16);
    color: white;
  }

  .category-bar {
    position: fixed;
    top: $title-bar-height;
    background: white;
    z-index: 2;
    @include full-width;

    &:after {
      content: '';
      display: block;
      height: 1px;
      transform: scaleY(0.5);
      background: #ddd;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .swiper-wrapper {
      .swiper-slide {
        display: inline-block;
        width: auto;
        padding: 0 r(10);

        @include height($category-bar-height);

        text-align: center;
        font-size: r(16);
        color: #555;

        &.active {
          color: $color-subject;
        }
      }
    }
  }

  .news-list-swiper {
    background: white;

    .swiper-wrapper {

      .swiper-slide {

        .news {
          margin: 0 r(10);

          @include v-list-split-line;

          .title {
            padding: r(10) 0;
            font-size: r(20);
            line-height: 1.2;
            @include ellipsis(2);
          }

          .imgs {
            display: flex;
            width: 100%;

            .img-container {
              flex: 1;
              text-align: left;

              &:not(:last-of-type) {
                margin-right: r(2);
              }

              img {
                max-width: 100%;
                height: r(78);
              }
            }
          }

          .attrs {
            padding: r(10) 0;
            font-size: r(12);
            color: #999;
            .attr {
              margin-right: r(5);
            }
          }
        }
      }
    }
  }
}
