@charset "UTF-8";

@import '../../../node_modules/normalize.css/normalize';

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none inside;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border-style: none;
}

iframe {
  border: none;
}

:before,
:after {
  vertical-align: middle;
}

body {
  background-color: #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: r(14);
  line-height: 1;
  color: #333;
  word-break: break-all;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  font-weight: 300;
}

.app {
  margin: auto;
  min-width: $pageMinWidth;
  max-width: $pageMaxWidth;
  position: relative;
  overflow-x: hidden;
}

[v-cloak] {
  display: none;
}

/*清除input框的黄边*/
*:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #999;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #999;
}

.bodyFix {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
}

// 超过最大展示边框
//@media screen and (min-width: $pageMaxWidth) {
//  .app {
//    border: 1px solid #ddd;
//  }
//}

// 页面加载动画
.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: table;
  &.mounted {
    display: none;
  }
  .mask {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: $pageMaxWidth;
    height: 100%;
    //background: #f0f0f0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    .center {
      position: absolute;
      top: 50%;
      left: 50%;
      // 大圈半径
      $big-radius: 20;
      // 小圈半径
      $small-radius: r(10) / 2;
      // 小圈数量
      $max: 8;
      // 转一圈的时间
      $time: 0.5s;
      // 最小透明度
      $min-opacity: 0;
      .point {
        position: absolute;
        @include circle($small-radius * 2);
        background: #FF4a7d;
      }
      @for $i from 1 through ($max) {
        div:nth-of-type(#{$i}) {
          top: r($big-radius * sin(360 / $max * ($i - 1) * 3.14159 / 180)) - $small-radius / 2 - 0.08rem;
          left: r($big-radius * cos(360 / $max * ($i - 1) * 3.14159 / 180)) - $small-radius / 2 - 0.08rem;
          opacity: $min-opacity;
          @keyframes rotate {
            0% {
              opacity: 1;
              transform: scale(1);
            }
            100% {
              opacity: $min-opacity;
              transform: scale(0.5);
            }
          }
          animation: rotate $time ($i - 1)*($time / $max) linear infinite;
        }
      }
    }
  }
}

// 页面加载动画-隐藏
body.loaded .page-loading {
  display: none;
}


[v-cloak] {
  display: none;
}

body {
  font-weight: 400;
}

@mixin img-bg() {
  background: #f0f0f0 url(../../common/img/img-bg.png) no-repeat center;
  background-size: contain;
}
