@import "../../css/util";

.dvd-service-com-paging-list {
  .swiper-wrapper {
    .swiper-slide {
      height: auto;
    }
  }
  /* 加载更多 */
  .load-more {
    padding: r(10) 0;
    @include height(r(16));
    color: #666;
    text-align: center;
    .loading {
      .text {
        font-size: r(14);
        vertical-align: middle;
      }
      img {
        width: r(14);
        margin-left: r(5);
        vertical-align: middle;
      }
    }
  }
  /* 列表为空 */
  .none {
    text-align: center;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    .content {
      margin-top: r(-100);
      .pic {
        height: r(88);
      }
      .tip {
        margin-top: r(20);
        @include height(r(18));
        font-size: r(13);
        color: #999;
      }
    }
  }
}
